.nl-progresscount {
    display: inline-block;
    padding: 6px 10px;
    font-weight: 500;
    color: #3B454C;
    line-height: 110%;
    font-size: 13px;
    background: #E7F5EC;
    border-radius: 70px;
}

.admininfosect__body .table.nl-table {
    &>thead {
        th {
            font-weight: 500;
            color: #3B454C;
            line-height: 110%;
            font-size: 14px;

            &:last-child {
                text-align: right;
            }
        }
    }

    tbody {
        td {
            &:last-child {
                text-align: right;
            }
        }
    }
}

// -

.admininfosect.selecttemplate {
    .admininfosect__title {
        max-width: 100%;
        flex: 0 0 100%;

        p {
            padding-left: 30px;
        }
    }
}

.selecttemplate .admininfosect__body {
    padding-bottom: 40px;

    .seller-productslist {
        padding-top: 10px;
    }
}

.templateswrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 27px;
    justify-content: space-around;
}

.templatebox {
    width: 100%;
    max-width: calc(50% - 35px);
    flex: 0 0 calc(50% - 35px);
    border-radius: 10px;
    box-shadow: 0 4px 24px rgba(#000, 0.06);
    overflow: hidden;
    margin-bottom: 35px;
}

.templatebox__top {
    padding: 44px 86px 0;
    background: #F1F1F1;
    // height: 373px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 20px #f1f1f1;

    img {
        width: 100%;
        max-width: 388px;
        display: block;
        margin: 0 auto;
    }
}

.templatebox__bottom {
    padding: 8px 25px;
    min-height: 88px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;

    p {
        width: 100%;
        max-width: calc(100% - 190px);
        flex: 0 0 calc(100% - 190px);
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 17px;
        font-weight: 500;
        color: #21292F;
        text-transform: capitalize;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        max-width: 190px;
        flex: 0 0 190px;
        transition: 0.3s;
        border-radius: 40px;
        background: #158466;
        color: #fff;
        font-weight: 600;
        font-size: 15px;
        min-height: 45px;

        &:hover {
            background: #13b086;
        }
    }
}

.asminsidebar__body {
    height: 100%;
}

.admininfosect.selecttemplate {
    .pagination {
        margin-top: 50px;
    }
}

// -

.createtemplate-wrapper {
    max-width: 670px;
    margin: 0 auto;
}

.createtemplate {
    .admininfosect__body {
        padding: 50px 0 85px;
    }

    .inputfield {
        margin-bottom: 25px;
    }

    .ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar {
        background: rgba(#DBDCE2, 0.5);
        height: 60px;
        border-radius: 10px 10px 0 0;
        position: relative;
    }

    .ck.ck-editor__main>.ck-editor__editable {
        border-top: 2px solid rgba(#DBDCE2, 0.5) !important;

        &:focus {
            border-top: 2px solid #158466 !important;
        }
    }

    .savefield {
        margin-top: 55px;
        padding-top: 50px;
        border-top: 2px solid rgba(#158466, 0.5);

        .templsubmit {
            min-height: 60px;
            max-width: 328px;
            font-size: 17px;
        }
    }



}

.templateimgtitle {
    color: #21292F;
    font-weight: 500;
    line-height: 160%;
    font-size: 16px;
    margin-bottom: 10px;
}

.guidance {
    font-size: 14px;
    color: #919295;
    margin-bottom: 25px;
}

// -

.admininfosect.previewtemplate {

    .admininfosect__header {
        display: flex;
        flex-wrap: wrap;

        .admininfosect__title {
            width: 100%;
            max-width: calc(100% - 380px);
            flex: 0 0 calc(100% - 380px);
        }

        .admininfosect__rbtns {
            width: 100%;
            max-width: 380px;
            flex: 0 0 380px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .edit {
                min-height: 45px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-size: 15px;
                border: 1px solid #158466;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 30px;
                max-width: 128px;
                width: 100%;
                font-size: 15px;
                font-weight: 600;
                color: #158466;
                transition: 0.3s;

                &:hover {
                    background: #158466;
                    color: #fff;

                    svg {
                        path {
                            fill: #fff;
                        }
                    }
                }

                svg {
                    margin-right: 5px;
                    width: 15px;

                    path {
                        transition: 0.3s;
                    }
                }
            }

            .greenbtn {
                min-height: 45px;
                max-width: 225px;
                font-size: 15px;

            }
        }
    }

    .admininfosect__body {
        padding-top: 30px;
    }

}

.previewsection {
    max-width: 700px;
    margin: 0 auto;

    p {
        font-size: 16px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .subject {
        margin-bottom: 5px;
        font-weight: 500;
        line-height: 160%;
    }
}

.prevtemplate {
    background: #F1F1F1;
    padding: 55px 20px;

    table {
        width: 388px;
    }
}

// -

.previewoptions__alert {
    padding: 20px;
    border-radius: 10px;
    font-size: 15px;
    color: #21292F;

    p {
        margin: 0;
    }

    b {
        font-weight: 500;
    }

}

.selectrecipients {
    margin-top: 40px;

    .title {
        font-size: 18px;
        font-weight: 500;
        color: #21292F;
        margin-bottom: 20px;
    }

    .adminsettingssect__chooseblock label {
        font-size: 16px;
        padding-left: 55px;

        i {
            margin-left: 5px;
            display: inline-block;
            vertical-align: middle;
            margin-top: -1px;
        }

        img {
            width: 14px;
            vertical-align: middle;
        }
    }

    .adminsettingssect__chooseblock label:after {
        width: 18px;
        height: 18px;
        background-size: 12px;
    }
}



@media(max-width:1399.8px) {
    .templatebox__top {
        padding: 30px 40px 0;
    }

    .templatebox__bottom a {
        font-size: 14px;
        max-width: 160px;
        flex: 0 0 160px;
        min-height: 40px;
    }

    .templatebox__bottom p {
        max-width: calc(100% - 160px);
        flex: 0 0 calc(100% - 160px);
        padding-right: 10px;
    }

    .templatebox__bottom {
        padding: 8px 10px;
    }

}

@media(max-width:1199.8px) {
    .admininfosect.selecttemplate .admininfosect__title p {
        font-size: 18px;
        padding-left: 10px;
    }

    .templatebox__bottom {
        padding: 15px;

        p {
            margin-bottom: 10px;
        }
    }

    .templatebox__bottom p,
    .templatebox__bottom a {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .createtemplate .admininfosect__body {
        padding: 30px 0 40px;
    }

    .createtemplate-wrapper {
        max-width: 540px;
        margin: 0 auto;
    }

    .createtemplate .ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar {
        height: auto;
    }

    .createtemplate .admininfosect__header .admininfosect__title p {
        font-size: 18px;
    }

    .admininfosect__header .admininfosect__title p {
        font-size: 18px;
    }

    .admininfosect.previewtemplate .admininfosect__header .admininfosect__title,
    .admininfosect.previewtemplate .admininfosect__header .admininfosect__rbtns {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .admininfosect.previewtemplate .admininfosect__header .admininfosect__rbtns {
        justify-content: flex-start;
        padding-top: 15px;

        .edit {
            margin-right: 20px;
        }
    }

}

@media(max-width:991.8px) {
    .templatebox {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .templatebox__bottom p {
        font-size: 18px;
    }

    .templatebox__bottom a {
        font-size: 16px;
    }

    .templatebox__top {
        padding: 20px 20px 0;
    }

    .createtemplate .admininfosect__body {
        padding-left: 20px;
        padding-right: 20px;
    }

    .createtemplate .savefield {
        margin-top: 25px;
        padding-top: 20px;
    }

    .prevtemplate {
        overflow: auto;


        &::-webkit-scrollbar {
            width: 6px;
            border-radius: 10px;
            height: 10px;
        }

        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(21, 132, 102, 0.4);
            border-radius: 10px;
        }
    }

    // ----------------
    .templatebox {
        margin-bottom: 20px;
    }

    .admininfosect.selecttemplate .pagination {
        margin-top: 20px;
    }

    .admininfosect.previewtemplate .admininfosect__header .admininfosect__rbtns .edit {
        max-width: 100px;
        flex: 0 0 100px;
    }

    .admininfosect.previewtemplate .admininfosect__header .admininfosect__rbtns .greenbtn {
        max-width: 200px;
    }

}

@media(max-width:767.8px) {

    .admininfosect.previewtemplate .admininfosect__header .admininfosect__rbtns,
    .admininfosect.previewtemplate .admininfosect__header .admininfosect__title {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .admininfosect.previewtemplate .admininfosect__header .admininfosect__title {
        padding-bottom: 15px;
    }

    .admininfosect.previewtemplate .admininfosect__header .admininfosect__rbtns {
        justify-content: flex-start;

        .edit {
            margin-right: 15px;
        }
    }

    .admininfosect.previewtemplate .admininfosect__header .admininfosect__rbtns {

        .edit,
        .greenbtn {
            min-height: 40px !important;
        }
    }

    .admininfosect.previewtemplate .admininfosect__header .admininfosect__rbtns {
        padding-top: 0;
    }
}

@media(max-width:575.8px) {
    .createtemplate .admininfosect__body {
        padding-left: 12px;
        padding-right: 12px;
    }

    .createtemplate .savefield .templsubmit {
        max-width: 100%;
    }

    .admininfosect.previewtemplate .admininfosect__header .admininfosect__rbtns {

        .edit,
        .greenbtn {
            font-size: 15px !important;
        }
    }

    .prevtemplate {
        padding: 5px;
    }

    .previewoptions__alert {
        padding: 15px;
        font-size: 14px;
    }
}

@media(max-width:360.8px) {
    .admininfosect__rbtns {
        flex-wrap: wrap;
    }

    .admininfosect.previewtemplate .admininfosect__header .admininfosect__rbtns .edit,
    .admininfosect.previewtemplate .admininfosect__header .admininfosect__rbtns .greenbtn {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .admininfosect.previewtemplate .admininfosect__header .admininfosect__rbtns .edit {
        margin-bottom: 15px;
    }
    
    .admbgel2 {
        display: none;
    }
}