.smallpageinf {
    margin-top: 25px;

    .smallpageinf__wrap {
        overflow: hidden;
        border-radius: 25px;
        height: 230px;
        display: flex;
        align-items: center;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 0 0;
            position: absolute;
            left: 0;
            top: 0;
        }

        h1 {
            position: relative;
            z-index: 2;
            color: $white;
            margin: 0;
            padding-left: 80px;
            font-size: 50px;
            font-weight: 400;
            line-height: 110%;
            letter-spacing: 1.879px;
            text-transform: uppercase;
            font-family: 'Poetsenone';
        }
    }
}

.categorysect {
    padding: 30px 0 0 0;
}

.categorysect__head {
    display: flex;
    align-items: center;
    padding-bottom: 25px;
    border-bottom: 1px solid #D9DBDF;

    .categorysect__head-left {
        width: 100%;
        max-width: calc(100% - 270px);
        flex: 0 0 calc(100% - 270px);
    }

    .categorysect__head-right {
        width: 100%;
        max-width: 270px;
        flex: 0 0 270px;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            display: inline-block;
            vertical-align: middle;

            a {
                color: #3B454C;
                font-size: 13px;
                font-weight: 500;
                line-height: 110%;
                padding: 10px;
                border: 1px solid transparent;
                border-radius: 70px;
                transition: 0.3s;
                min-width: 120px;
                display: inline-block;
                text-align: center;

                &.active {
                    border: 1px solid $base-green;
                    color: $base-green;
                }

                &:hover {
                    border: 1px solid $base-green;
                    color: $base-green;
                }
            }
        }
    }

}

.categorysect__discounts {
    padding: 30px 0;
    border-bottom: 1px solid #D9DBDF;
    display: flex;

    a {
        width: 100%;
        max-width: 70px;
        flex: 0 0 70px;
        margin-right: 40px;

        &:last-child {
            margin-right: 0;
        }
    }

    .discountbox {
        width: 100%;
        text-align: center;

        .discountbox__circle {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: $base-green;
            position: relative;
            transition: 0.3s;

            &::after {
                content: '';
                width: 50px;
                height: 50px;
                border-radius: 50%;
                position: absolute;
                right: -2px;
                bottom: -2px;
                background: #11CC9A;
                z-index: -1;
                transition: 0.1s;
            }

            p {
                color: $white;
                font-size: 15px;
                font-weight: 500;
                line-height: 135%;
                margin: 0;
            }
        }

        p {
            margin: 8px 0 0 0;
            color: #3B454C;
            font-size: 11px;
            font-weight: 500;
            line-height: 135%;
        }

        &:hover {
            &>p {
                color: $base-green;
            }

            .discountbox__circle {
                box-shadow: 0 0 10px $base-green;

                &::after {
                    right: 0;
                    bottom: 0;
                }
            }

        }
    }

}

.categorysect__body {
    padding: 34px 0 78px;
    display: flex;
    flex-wrap: wrap;

    .categorysect__filter {
        width: 100%;
        max-width: 300px;
        flex: 0 0 300px;
    }

    .categorysect__prodsect {
        width: 100%;
        max-width: calc(100% - 300px);
        flex: 0 0 calc(100% - 300px);
    }

}

.categorysect__filter {
    padding-right: 30px;

    // filter selected
    .filter__selected {
        margin-bottom: 25px;
    }

    .filter__selected-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;

        p {
            margin: 0;
            font-weight: 500;
            line-height: 135%;
            color: #3B454C;
        }

        a {
            text-decoration: underline;
            font-weight: 500;
            line-height: 110%;
            color: #3B454C;
            font-size: 13px;
            transition: 0.3s;

            &:hover {
                color: $base-green;
                text-decoration: none;
            }
        }
    }

    .filter__selected-labels {
        .selectedlabel {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            min-width: 120px;
            border-radius: 70px;
            border: 1px solid $base-green;
            background: #FFF;
            margin-bottom: 10px;

            span {
                font-weight: 500;
                line-height: 110%;
                color: #3B454C;
                font-size: 13px
            }

            img {
                width: 10px;
                margin-left: 10px;
                margin-top: -2px;
                cursor: pointer;
            }
        }
    }

    // filter togglebox

    .filter__toogleblock {
        position: relative;
        padding-bottom: 25px;

        .filter__toogleblock-head {
            cursor: pointer;
            // padding-bottom: 15px;

            p {
                padding-right: 25px;
                margin: 0;
                color: $base-green;
                font-weight: 500;
                line-height: 135%;
            }

            img {
                position: absolute;
                right: 0;
                top: 4px;
                transition: 0.3s;
            }

            &.rotatearr {
                img {
                    transform: rotate(-180deg);
                }
            }
        }

        .searchbox {
            margin-bottom: 15px;

            .searchfield input {
                padding-left: 20px;
                transition: 0.3s;

                &:focus {
                    border-color: $base-green;
                }
            }
        }

        .filter__checksect {

            .checkfield {
                margin-bottom: 15px;

                input {
                    display: none;

                    &:checked {
                        &+label {
                            &::after {
                                border-color: $base-green;
                                background-color: $base-green;
                                background-image: url('../img/general/check-white.svg');
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: 10px;
                            }
                        }
                    }
                }

                label {
                    display: block;
                    position: relative;
                    font-weight: 500;
                    line-height: 110%;
                    color: #72787C;
                    font-size: 14px;
                    padding: 2px 0 2px 35px;
                    cursor: pointer;

                    span {
                        font-size: 13px;
                        color: #9AA0A4;
                        font-weight: 400;
                        line-height: 110%;
                    }

                    &::after {
                        content: '';
                        display: inline-block;
                        width: 19px;
                        height: 19px;
                        border: 1px solid #3B454C;
                        border-radius: 3px;
                        position: absolute;
                        left: 0;
                        top: -1px;
                    }

                }

                &:nth-child(n+5) {
                    display: none;
                }
            }

            &.show {
                .checkfield:nth-child(n+5) {
                    display: block;
                }
            }
        }

        .showall {
            text-decoration: underline;
            color: #3B454C;
            font-size: 12px;
            font-weight: 500;
            line-height: 110%;

            &:hover {
                text-decoration: none;
            }

            span {
                &:nth-child(2) {
                    display: none;
                }
            }

        }

        .radiofield {
            margin-bottom: 15px;
            position: relative;

            &:last-child {
                margin-bottom: 0;
            }

            input {
                display: none;

                &:checked {
                    &+label {
                        &::after {
                            border-color: $base-green;
                            background-image: url('../img/category/radiocircle.svg');
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 10px;
                        }
                    }
                }
            }

            label {
                padding-left: 35px;
                cursor: pointer;

                .ratingstars {
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0;

                    img {
                        vertical-align: middle;
                    }
                }

                span {
                    font-size: 13px;
                    color: #9AA0A4;
                    font-weight: 400;
                    line-height: 110%;
                    vertical-align: bottom;
                }

                &::after {
                    content: '';
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    border: 1px solid rgba(59, 69, 76, 0.4);
                    border-radius: 50%;
                    position: absolute;
                    left: 0;
                    top: 1px;
                }
            }
        }

        .filter__checksect .checkfield.withoutcheck {
            label {
                padding-left: 0;

                &::after {
                    display: none;
                }
            }

            input {
                &:checked {
                    &+label {
                        color: $base-green;
                    }
                }
            }
        }

    }

    .filter__toogleblock-body {
        padding-top: 15px;
    }



}

.categorysect__prodsect {

    .row {
        margin-left: -8px;
        margin-right: -8px;
    }

    .col-xl-3 {
        padding-left: 8px;
        padding-right: 8px;
    }

    .productbox {
        min-height: initial;
        margin-bottom: 15px;

        .addtocart {
            padding-bottom: 5px;
        }

        .productbox__img {
            height: 227px;
            padding: 33px 20px 28px 20px;
            position: relative;
        }
    }

    .productbox__descr {
        padding: 25px 15px 20px 15px;

        .price {
            font-size: 20px;
        }

        .aboutproduct {
            margin-bottom: 20px;
            min-height: 48px;
        }
    }

    .productadd input {
        height: 24px;
    }

}

.filterbtn,
.closefilter {
    display: none;
}

@media(max-width:1399.8px) {

    .categorysect__prodsect .productbox .productbox__img {
        padding: 25px 20px;
        height: 200px;
    }

    .categorysect__prodsect .productbox__descr .price {
        flex-wrap: wrap;
        min-height: 50px;

        span {
            width: 100%;
            max-width: 100%;
            flex: 0 0 100%;
            margin-left: 0 !important;
        }
    }

    .categorysect__prodsect .productbox__descr {
        padding: 15px;
    }

}

@media(max-width:1199.8px) {
    .smallpageinf {
        margin-top: 15px;
    }

    .smallpageinf .smallpageinf__wrap h1 {
        font-size: 42px;
        padding-left: 30px;
        max-width: 50%;
    }

    .smallpageinf .smallpageinf__wrap {
        height: 200px;
    }

    .smallpageinf .smallpageinf__wrap img {
        object-position: 100% 0;
    }

    .categorysect__head ul li a {
        min-width: 80px;
    }

    .categorysect {
        padding: 15px 0 0 0;
    }

    .categorysect__head {
        padding-bottom: 15px;
    }

    .categorysect__discounts {
        padding: 15px 0;
    }

    .categorysect__discounts a {
        margin-right: 30px;
    }













}

@media(max-width:991.8px) {
    .smallpageinf .smallpageinf__wrap {
        height: 160px;

        img {
            object-position: 60% 0;
        }

    }

    .categorysect__filter {
        display: none;
        padding-right: 0;

        &.show {
            display: block;
        }
    }

    .categorysect__head {
        flex-wrap: wrap;
        padding-right: 60px;

        .categorysect__head-left {
            margin-bottom: 20px;
        }

        .categorysect__head-left {
            max-width: 100%;
            flex: 0 0 100%;
        }

    }

    .categorysect__body .categorysect__prodsect {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }

    .categorysect {
        .container {
            position: relative;
        }
    }

    .filterbtn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        width: 100%;
        max-width: 50px;
        flex: 0 0 50px;
        height: 50px;
        border: 1px solid #3B454C;
        position: absolute;
        right: 15px;
        top: 0;
    }

    .closefilter {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 5px;
        background: transparent;
        position: absolute;
        right: 10px;
        top: 10px;

        img {
            width: 16px;
        }
    }

    .categorysect__filter {
        
        &.show {
            position: fixed;
            left: 0;
            top: 0;
            z-index: 13;
            width: 100%;
            max-width: 100%;
            flex: 0 0 100%;
            height: 100vh;
            background: rgba(0, 0, 0, 0.4);
            overflow: auto;
    
            .filter-overlay {
                max-width: 400px;
                flex: 0 0 400px;
                padding: 60px 20px 20px 20px;
                background: #fff;
                position: relative;
                min-height: 100%;
            }
        }
    }



}
























// RANGE SLIDER
.rangesliderwrap {
    padding-bottom: 10px;
    max-width: calc(100% - 20px);

    .output {
        text-align: center;
        margin-bottom: 10px;
        color: $base-green;
        font-size: 16px;
        font-weight: 600;
        line-height: 135%;
        margin-bottom: 0;
    }

    .fromtoprice {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
            line-height: 140%;
            color: #3B454D;
            font-size: 14px;
        }
    }

    .number-inputs {
        margin-bottom: 2.5rem;
    }

    input[type="number"] {
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        appearance: textfield;
        padding: .5em;
        border: 1px solid #666;
        border-radius: .3em;
        outline: none;
        font-size: 1em;
    }

    .irs {
        max-width: 100%;
    }

    .lead {
        font-weight: 600;
        color: #777;
        margin-bottom: 3em;
    }

    .irs--flat .irs-line {
        height: 3px;
        top: 15px;
    }

    .irs--flat .irs-bar {
        height: 3px;
        background-color: $base-green;
        top: 15px;
    }

    .irs--flat .irs-handle {
        background: $base-green;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        top: 9px;

        i {
            display: none;
        }
    }

    .irs--flat .irs-from,
    .irs--flat .irs-to {
        // display: none;
        top: 26px;
        color: #3B454D;
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;
        background-color: transparent;
        font-family: 'Montserrat', sans-serif;

        &::before {
            display: none;
        }
    }

    .irs--flat .irs-min,
    .irs--flat .irs-max {
        // display: none;
        font-family: 'Montserrat', sans-serif;
        top: 26px;
        color: #3B454D;
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;
        background-color: transparent;
        opacity: 0.5;
    }

    .irs--flat {
        height: 35px;
    }

    .irs--flat .irs-single {
        display: none !important;
    }
}