.accountsection {
    padding-top: 25px;
}

.accountsection-colleft {
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    max-width: 290px;
    flex: 0 0 290px;
}

.accountsection-colright {
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    max-width: calc(100% - 290px);
    flex: 0 0 calc(100% - 290px);
}

.accountsidebar {
    max-width: 220px;
    padding-top: 10px;
}

.accountsidebar__box {
    margin-bottom: 48px;

    &:last-child {
        margin-bottom: 0;
    }

    .title {
        color: $bace-color;
        font-size: 17px;
        font-weight: 600;
        line-height: 130%;
        padding-bottom: 10px;
        border-bottom: 1px solid #D9DBDF;
        margin-bottom: 26px;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }

            a {
                color: $bace-color;
                font-size: 15px;
                font-weight: 500;
                line-height: 150%;
                text-transform: capitalize;
                position: relative;
                display: block;
                padding-left: 40px;
                transition: 0.3s;
                padding-top: 7px;
                padding-bottom: 7px;

                &:hover {
                    color: $base-green;
                }
            }

            .icwrap {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);

                img {
                    vertical-align: top;
                }
            }

            &.active {
                a {
                    border-radius: 5px;
                    background: #E7F5EC;
                    color: $base-green;
                }
            }
        }
    }
}

.accountsidebar__box.signout {
    padding-top: 29px;
    border-top: 1px solid #D9DBDF;
}

.accountcontent__title {
    margin-bottom: 40px;
    color: $bace-color;
    font-size: 26px;
    font-weight: 600;
    line-height: 130%;
}

.acccontentsect {
    margin-bottom: 50px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.06);
    background: $white;

    &:last-child {
        margin-bottom: 0;
    }
}

.acccontentsect__header {
    padding: 0 35px;
    min-height: 80px;
    background: #F0F0F0;
    display: flex;
    align-items: center;
    position: relative;

    p {
        margin: 0;
        position: relative;
        padding-left: 45px;
        color: $base-green;
        font-size: 22px;
        font-weight: 600;
        line-height: 120%;
        padding-right: 30px;

        img {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            max-width: 40px;
        }

        span {
            color: $bace-color;
            font-size: 16px;
            font-weight: 400;
            line-height: 160%;

            a {
                text-decoration: underline;
                color: $bace-color;
                text-underline-offset: 4px;
            }
        }
    }

    .togglebtn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        position: absolute;
        z-index: 2;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.3s;

        img {
            max-width: 30px;
            max-height: 100%;
            transition: 0.3s;
        }

        &.rotate {
            transform: translateY(-50%) rotate(90deg);
        }
    }
}

.acccontentsect__body {
    padding: 40px 35px;
}

.acc-orderbox {
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;

    .ordernum {
        margin-bottom: 10px;
        color: #3B454D;
        font-size: 14px;
        font-weight: 500;
        line-height: 150%;
    }

    .orderstatus {
        color: $base-green;
        font-size: 14px;
        font-weight: 500;
        line-height: 150%;
        margin-bottom: 10px;
        padding-left: 20px;
        position: relative;

        &::after {
            content: '';
            display: inline-block;
            width: 16px;
            height: 16px;
            background: url('../img/general/list-check.svg') no-repeat center / 100%;
            position: absolute;
            left: 0;
            top: 1px;

        }
    }

    .delivdate {
        margin-bottom: 0;
        color: #3B454D;
        font-size: 13px;
        font-weight: 500;
        line-height: 150%;
    }

    .delivproducts {
        display: flex;
        flex-wrap: wrap;
        margin-left: -5px;
        margin-right: -5px;

        .delivproduct {
            height: 60px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-width: 60px;
            flex: 0 0 60px;
            box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.06);
            margin-top: 10px;
            margin: 10px 5px 0;

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }


}

.acc-creditbox {
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    padding: 30px 20px;
    margin-bottom: 20px;
    min-height: 192px;

    .title {
        text-align: center;
        color: #3B454D;
        font-size: 18px;
        font-weight: 600;
        line-height: 150%;
        margin-bottom: 30px;
    }

    .cardswrap {
        display: flex;
        flex-wrap: wrap;
        margin-left: -5px;
        margin-right: -5px;
    }

    .card {
        background: #fff;
        border-radius: 4px;
        background: rgba(255, 255, 255, 0.40);
        box-shadow: 0px 1.8211405277252197px 10.926843643188477px 0px rgba(0, 0, 0, 0.06);
        height: 28px;
        width: 100%;
        max-width: 44px;
        flex: 0 0 44px;
        display: inline-flex;
        margin: 0 5px 10px;

        img {
            width: 100%;
            height: 100%;
        }
    }

}

.solocard {
    margin: auto;
    height: 80px;
    width: 130px;
    border-radius: 5.5px;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 0.40);
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.acc-creditbox.acc-creditbox__solo {
    .title {
        margin-bottom: 15px;
    }
}

.personalinfobox {
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.06);
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.personalinfobox__left {
    width: 100%;
    max-width: calc(100% - 40px);
    flex: 0 0 calc(100% - 40px);

    .title {
        margin-bottom: 10px;
        font-size: 17px;
        font-weight: 500;
        color: $bace-color;
        line-height: 160%;

    }

    input {
        font-size: 14px;
        border: none;
        background: #fff;
        pointer-events: none;
        padding: 3px 0;
        transition: 0.3s;

        &.edit {
            pointer-events: all;
            background-color: rgba(37, 150, 136, 0.2);
            padding: 3px 10px;
            border-radius: 5px;
        }
    }
}

.personalinfobox__right {
    width: 100%;
    max-width: 40px;
    flex: 0 0 40px;

    a {
        color: #259688;
        font-size: 15px;
        text-decoration: underline;
        text-underline-offset: 3px;

        &:hover {
            text-decoration: none;
        }
    }
}

.aside-menubtn,
.closesidebar {
    display: none;
}

@media(max-width:1550.8px) {
    .acc-orderbox .delivproducts .delivproduct {
        max-width: 50px;
        height: 50px;
    }

    .acc-creditbox .card {
        margin: 0 2px 10px;
        max-width: 42px;
        flex: 0 0 42px;
    }
}

@media(max-width:1399.8px) {
    .accountsection-colleft {
        max-width: 260px;
        flex: 0 0 260px;
    }

    .accountsection-colright {
        max-width: calc(100% - 260px);
        flex: 0 0 calc(100% - 260px);
    }

    .acc-orderbox,
    .acc-creditbox {
        padding: 20px 15px;
    }

    .acc-orderbox .delivproducts .delivproduct {
        margin: 10px 2px 0;
        max-width: 47px;
    }

    .acc-creditbox .card {
        max-width: 44px;
        flex: 0 0 44px;
    }

    .acc-creditbox .title {
        margin-bottom: 15px;
    }

}

@media(max-width:1199.8px) {
    .accountcontent__title {
        font-size: 22px;
        margin-bottom: 30px;
    }

    .acccontentsect__header p {
        font-size: 18px;
    }

    .acc-creditbox .card {
        max-width: 46px;
        flex: 0 0 46px;
        height: 29px;
        margin: 0 5px 10px;
    }

    .acc-creditbox {
        min-height: 130px;
    }
}

@media(max-width:991.8px) {
    .closesidebar {
        display: inline-block;
        position: absolute;
        right: 10px;
        transform: rotate(180deg);
    }

    .accountsidebar__wrap {
        position: relative;
    }

    .accountsection-colleft {
        max-width: 70px;
        flex: 0 0 70px;
        z-index: 12;

        .accountsidebar {
            padding-top: 0;
            background: rgba(3, 3, 3, 0.5);
            position: fixed;
            width: 100%;
            max-width: 100vw;
            height: 100%;
            display: block;
            top: 0;
            left: 0;
            z-index: 2;

            .accountsidebar__wrap {
                width: 250px;
                background: #fff;
                height: 100%;
                padding: 20px 15px 0 15px;
            }
        }

    }

    .accountsection-colright {
        max-width: calc(100% - 70px);
        flex: 0 0 calc(100% - 70px);
    }

    .aside-menubtn {
        position: sticky;
        top: 20px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 46px;
        border-radius: 10px;
        box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.06);
    }

    .acccontentsect__body {
        padding: 20px;
    }

    .accountsection-colleft .accountsidebar {
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        transition: 0.5s;

        .accountsidebar__wrap {
            transition: 0.7s;
            transform: translateX(-100%);
        }

        &.open {
            opacity: 1;
            visibility: visible;
            z-index: 1;

            .accountsidebar__wrap {
                transform: translateX(0);
            }
        }
    }

}

@media(max-width:575.8px) {
    .accountcontent__title {
        font-size: 21px;
        margin-bottom: 20px;
    }

    .acccontentsect__header {
        padding: 5px 10px;
    }

    .acccontentsect__header .togglebtn {
        right: 0;
    }

    .acccontentsect__header p img {
        max-width: 30px;
    }

    .acccontentsect__header p {
        width: 100%;
        padding-left: 35px;
        font-size: 16px;
    }

    .acccontentsect__body {
        padding: 20px 10px;
    }

    .acccontentsect__header p span {
        font-size: 14px;
    }
}

// Personal INFO

.acccontentsect__header.acccontentsect__header-delacc {
    flex-wrap: wrap;

    p {
        width: 100%;
        max-width: calc(100% - 240px);
        flex: 0 0 calc(100% - 240px);
    }

    .deleteacc {
        width: 100%;
        max-width: 240px;
        flex: 0 0 240px;
        text-align: right;

        img {
            max-width: 15px;
            margin-right: 6px;
            vertical-align: middle;
            margin-top: -3px;
        }

        a {
            text-decoration: none;
            color: $bace-color;
            font-size: 14px;
            line-height: 160%;
            transition: 0.3s;

            &:hover {
                color: $base-green;
            }
        }
    }
}

.accpersonalinfosect {
    max-width: 733px;
    margin: 0 auto;

    .personalinfobox {
        margin-bottom: 25px;

        &:last-child {
            margin-bottom: 0;
        }

        .personalinfobox__left input {
            width: 100%;
            max-width: 500px;
        }
    }
}

.acccontentsect__body.personalinfo {
    padding-bottom: 135px;
}

@media(max-width:767.8px) {
    .acccontentsect__header.acccontentsect__header-delacc {
        display: block;
        padding: 15px 35px;
    }

    .acccontentsect__header.acccontentsect__header-delacc .deleteacc {
        max-width: 100%;
        flex: 0 0 100%;
        text-align: left;
        padding-left: 10px;
    }

    .acccontentsect__header.acccontentsect__header-delacc p {
        max-width: 100%;
        flex: 0 0 100%;
        padding-right: 0;
        margin-bottom: 10px;
    }

    .acccontentsect__body.personalinfo {
        padding-bottom: 80px;
    }
}

@media(max-width:575.8px) {
    .acccontentsect__header.acccontentsect__header-delacc {
        padding: 12px 10px;
    }

    .personalinfobox__left .title {
        font-size: 15px;
    }

    .accpersonalinfosect .personalinfobox .personalinfobox__left input {
        font-size: 13px;
    }

    .acccontentsect__body.personalinfo {
        padding-bottom: 40px;
    }
}

// My Address

.acccontentsect__header.twocol {
    flex-wrap: wrap;

    .leftsect,
    .rightsect {
        width: 100%;
        max-width: 50%;
        flex: 0 0 50%;
    }

    p {
        padding-right: 0;
    }

    .greenbtn {
        max-width: 190px;
        flex: 0 0 190px;

        img {
            max-width: 11px;
            margin-right: 10px;
        }
    }

    .searchblock {
        max-width: 285px;
        flex: 0 0 285px;
        margin-right: 25px;
    }

    .rightsect .flex {
        justify-content: flex-end;
    }
}

.addressinfobox {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.06);
    padding: 25px;
    color: $bace-color;
    line-height: 160%;
    position: relative;
    margin-bottom: 25px;

    p {
        margin-bottom: 10px;
        font-size: 14px;
    }

    .name {
        margin-bottom: 15px;
        font-size: 17px;
        font-weight: 500;
        padding-right: 100px;
    }
}

.addressinfobox__btns {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    a {
        max-width: 128px;
        min-height: 45px;
        font-size: 15px;
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.setdefault {
    background: transparent;
    border: none;
    padding: 0;
    position: absolute;
    right: 25px;
    top: 25px;
    color: #259688;
    font-size: 15px;
    cursor: pointer;
    text-decoration: underline;

    &.active {
        text-decoration: none;
    }
}

.accbgel1 {
    position: absolute;
    right: 0;
    top: 0;
    top: 0;
}

.accbgel2 {
    position: absolute;
    left: 0;
    bottom: -150px;
}

.accountsection {
    position: relative;
}

.mainbgelem {
    top: -90px;
}

.accountsection {
    padding-bottom: 70px;
}

.acccontentsect__body.myaddr {
    padding-bottom: 110px;
}

.modalform .select2-container .select2-selection--single {
    border-width: 2px;
}

@media(max-width:1550.8px) {

    .acccontentsect__header.twocol .greenbtn {
        max-width: 160px;
        flex: 0 0 160px;
    }

    .acccontentsect__header.twocol .searchblock {
        max-width: 260px;
        flex: 0 0 260px;
        margin-right: 15px;
    }

}

@media(max-width:1399.8px) {
    .acccontentsect__header.twocol .greenbtn {
        max-width: 150px;
        flex: 0 0 150px;
    }

    .acccontentsect__header.twocol .searchblock {
        max-width: 230px;
        flex: 0 0 230px;
        margin-right: 10px;
    }
}

@media(max-width:1199.8px) {

    .acccontentsect__header.twocol .leftsect,
    .acccontentsect__header.twocol .rightsect {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .acccontentsect__header.twocol .leftsect {
        margin-bottom: 10px;
    }

    .acccontentsect__header.twocol .rightsect .flex {
        justify-content: flex-start;
    }

    .acccontentsect__header {
        padding-top: 20px;
        padding-bottom: 15px;
    }
}

@media(max-width:767.8px) {
    .acccontentsect__header {
        padding-left: 20px;
        padding-right: 20px;
    }

    .accountsection {
        padding-bottom: 0;
    }

    .acccontentsect__body.myaddr {
        padding-bottom: 0;
    }

}

@media(max-width:575.8px) {
    .acccontentsect__header {
        padding: 12px 10px;
    }

    .acccontentsect__header.twocol .searchblock,
    .acccontentsect__header.twocol .greenbtn {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .acccontentsect__header.twocol .searchblock {
        margin-bottom: 10px;
    }

    .acccontentsect__header.twocol .leftsect {
        margin-bottom: 20px;
    }

    .addressinfobox {
        padding: 40px 15px 15px 15px;
    }

    .addressinfobox__btns a {
        max-width: 100px;
        min-height: 36px;
        font-size: 14px;
        margin-right: 10px;
    }

    .addressinfobox p {
        margin-bottom: 5px;
    }

    .addressinfobox .name {
        padding-right: 0;
    }

    .setdefault {
        top: 10px;
        right: initial;
        left: 15px;
    }

    .accbgel1 {
        width: 100px;
    }

    .accbgel2 {
        width: 150px;
    }
}

@media(max-width:360.8px) {
    .acccontentsect__header.twocol .greenbtn {
        font-size: 14px !important;
        min-height: 42px !important;
    }

    .acccontentsect__header.twocol .leftsect {
        margin-bottom: 10px;
    }

    .addressinfobox__btns a {
        margin-right: 0;
        max-width: 100%;
        width: 100%;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .addressinfobox p {
        line-height: 140%;
    }
}

// Personal info - edit

.personalinfoeditsect {
    max-width: 771px;
    width: 100%;
}

.personalinfoeditsect {
    padding-bottom: 40px;

    label {
        cursor: pointer;
    }

    .inputfield input+input {
        margin-top: 15px;
    }

    .inputfield .generalselect {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        width: 100%;
    }

    .inputfield .generalselect .select2-container .select2-selection--single {
        height: 55px;
    }

    .inputfield .generalselect .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 55px;
    }

    .generalselect .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 15px;
    }

    .select2-container .select2-selection--single {
        border-width: 2px;
    }

}

.accountsection.pbig {
    padding-bottom: 175px;
}

.accountsection {
    position: relative;
}

@media(max-width:1199.8px) {
    .accountsection.pbig {
        padding-bottom: 100px;
    }
}

@media(max-width:575.8px) {
    .personalinfoeditsect .inputfield .generalselect .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 46px;
    }

    .personalinfoeditsect .inputfield .generalselect .select2-container .select2-selection--single {
        height: 46px;
        border-width: 1px;
    }

    .modalform .select2-container .select2-selection--single {
        border-width: 1px;
    }

    .personalinfoeditsect .generalselect .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 10px;
    }

    .personalinfoeditsect {
        padding-bottom: 0;
    }

    .accountsection.pbig {
        padding-bottom: 0;
    }
}

// Credit cards
.creditcardswrapper {
    max-width: 970px;
}

.addressinfobox .name {
    img {
        vertical-align: middle;
        box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.06);
        margin-right: 10px;
    }
}

.addressinfobox.crcard {
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid rgba(0, 0, 0, 0.02);

    &.active {
        border: 1px solid #158466;
    }
}

.setdefault {
    &:hover {
        text-decoration: none;
    }
}

// ADD CARD

.widthwrap {
    max-width: 770px;
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0;
    }

    .generalselect {
        width: 100%;
        order: 2;
    }

    .inputfield .generalselect .select2-container .select2-selection--single {
        height: 55px;
    }

    .inputfield .generalselect .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 55px;
    }

    .generalselect .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 15px;
    }

    .select2-container .select2-selection--single {
        border-width: 2px;
    }

    .title {
        margin: 0;
        color: $bace-color;
        font-size: 18px;
        font-weight: 500;
        line-height: 160%;
    }

    .setdefault {
        position: relative;
        right: 0;
        top: 0;
    }

    .billingaddressheader {
        margin-bottom: 20px;
    }

}

@media(max-width:767.8px) {
    .widthwrap {
        .text-right {
            text-align: left;
        }

        .inputfield .generalselect .select2-container .select2-selection--single {
            height: 46px;
        }

        .inputfield .generalselect .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 46px;
        }

        .generalselect .select2-container--default .select2-selection--single .select2-selection__arrow {
            top: 10px;
        }

        .select2-container .select2-selection--single {
            border-width: 1px;
        }

        .setdefault {
            left: 0;
        }
    }

}

// Edit card

.cardhead {
    display: flex;
    align-items: center;
    margin-bottom: 35px;

    img {
        width: 100%;
        max-width: 58px;
        flex: 0 0 58px;
        box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.06);
    }

    p {
        margin: 0;
        width: 100%;
        max-width: calc(100% - 58px);
        flex: calc(100% - 58px);
        padding-left: 15px;
        color: $bace-color;
        font-size: 17px;
        font-weight: 500;
        line-height: 160%;
    }
}

.selectbilling {
    max-width: 970px;

    .title {
        margin-bottom: 20px;
        color: $bace-color;
        font-size: 18px;
        font-weight: 500;
        line-height: 160%;
    }

    .addressinfobox {
        border: 1px solid transparent;

        input[type='radio'] {
            display: none;
        }

        .setdefault {
            .act {
                display: none;
            }

            .dis {
                display: inline-block;
                text-decoration: underline;
            }
        }

        &.active {
            border: 1px solid $base-green;

            .setdefault {
                .dis {
                    display: none;
                }

                .act {
                    display: inline-block;
                }
            }
        }
    }
}

.billingbtns {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;

    .bordergreenbtn {
        min-height: 45px;
        max-width: 128px;
        flex: 0 0 128px;
        margin-right: 20px;
        font-size: 15px;
    }

    .greenbtn {
        min-height: 45px;
        max-width: 225px;
        flex: 0 0 225px;
        font-size: 15px;
    }
}

@media(max-width:767.8px) {
    .billingbtns {
        margin-bottom: 40px;
        margin-top: 20px;
    }

    .cardhead {
        margin-bottom: 20px;
    }

    .billingbtns .bordergreenbtn {
        margin: 0 0 20px 0;
    }

    .billingbtns .bordergreenbtn,
    .billingbtns .greenbtn {
        max-width: 100%;
        flex: 0 0 100%;
    }

}

// Email preferences

.marketingemailsbox {
    color: $bace-color;
    margin-bottom: 40px;

    .title {
        margin-bottom: 19px;
        font-size: 18px;
        font-weight: 500;
        line-height: 160%;
    }

    p {
        font-size: 15px;
        line-height: 150%;
        max-width: 600px;

        span {
            font-weight: 500;
        }

        a {
            display: inline-block;
            margin-left: 20px;
            color: $base-green;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.receiveemails {
    .title {
        margin-bottom: 19px;
        font-size: 18px;
        font-weight: 500;
        line-height: 160%;
    }
}

.receiveemails__header {
    display: flex;
    align-items: center;
    max-width: 730px;
    margin-bottom: 30px;

    .title {
        width: 100%;
        max-width: calc(100% - 40px);
        flex: 0 0 calc(100% - 40px);
        margin: 0;
    }

    .switch {
        width: 100%;
        max-width: 40px;
        flex: 0 0 40px;
    }
}

.receiveemails__header {
    input[type=checkbox] {
        display: none;
    }

    label {
        cursor: pointer;
        text-indent: -9999px;
        width: 36px;
        height: 21px;
        background: grey;
        display: block;
        border-radius: 100px;
        position: relative;
    }

    label:after {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        width: 17px;
        height: 17px;
        background: #fff;
        border-radius: 90px;
        transition: 0.3s;
    }

    input:checked+label {
        background: #158466;
    }

    input:checked+label:after {
        left: calc(100% - 2px);
        transform: translateX(-100%);
    }

    label:active:after {
        width: 20px;
    }
}

.receiveemails_checkfield {
    margin-bottom: 25px;

    input {
        display: none;

        &:checked {
            &+label {
                &::after {
                    border-color: $base-green;
                    background-color: $base-green;
                    background-image: url('../img/general/check-white.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 12px;
                }
            }
        }
    }

    label {
        display: inline-block;
        position: relative;
        color: $bace-color;
        font-size: 15px;
        font-weight: 500;
        line-height: 150%;
        padding-left: 35px;
        cursor: pointer;

        &::after {
            content: '';
            display: inline-block;
            border: 1px solid #3B454C;
            border-radius: 5px;
            width: 20px;
            height: 20px;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}

@media(max-width:767.8px) {
    .marketingemailsbox p a {
        margin-left: 0;
    }
}

@media(max-width:575.8px) {
    .marketingemailsbox .title {
        margin-bottom: 10px;
    }

    .marketingemailsbox p,
    .receiveemails_checkfield label {
        font-size: 14px;
    }

    .acccontentsect__header p {
        padding-right: 0;
    }

}

// Recent orders
.recentorder-filter {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 34px;

    .leftsect {
        width: 100%;
        width: 285px;
        flex: 0 0 285px;
    }

    .rightsect {
        width: 100%;
        max-width: calc(100% - 285px);
        flex: 0 0 calc(100% - 285px);
        padding-left: 20px;

        .searchblock {
            max-width: 100%;
        }
    }
}

.myacc-delivered {
    margin-bottom: 52px;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    background: #FFF;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;

    &:last-child {
        margin-bottom: 0;
    }

}

.myacc-delivered__left {
    width: 100%;
    max-width: calc(100% - 205px);
    flex: 0 0 calc(100% - 205px);
    padding-right: 20px;
}

.myacc-delivered__right {
    width: 100%;
    max-width: 205px;
    flex: 0 0 205px;

    a {
        margin-bottom: 10px;
        min-height: 40px;
        font-size: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.delordertitle {
    color: $base-green;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 5px;

    img {
        vertical-align: middle;
        max-width: 22px;
        margin-top: -3px;
        margin-right: 4px;
    }
}

.delorderinfo {
    margin-bottom: 25px;

    span {
        display: inline-block;
        margin-right: 50px;
        color: #3B454D;
        font-size: 13px;
        font-weight: 500;
        line-height: 150%;

        &:last-child {
            margin-right: 0;
        }
    }
}

.deliveredproduct {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;

    &:last-child {
        margin-bottom: 0;
    }
}

.deliveredproduct__img {
    width: 100%;
    max-width: 90px;
    flex: 0 0 90px;
    text-align: center;

    img {
        max-width: 100%;
    }
}

.deliveredproduct__descr {
    width: 100%;
    max-width: calc(100% - 90px);
    flex: 0 0 calc(100% - 90px);
    padding-left: 10px;
    color: #3B454D;
    line-height: 150%;

    .title {
        font-size: 17px;
        margin-bottom: 5px;
    }

    .units {
        font-size: 15px;
        margin: 0;
    }
}

.acccontentsect.myaccrecorder {
    padding-bottom: 50px;

    .pagination {
        margin-top: 5px;

        ul {
            margin-right: 0;
        }
    }
}

@media(max-width:1199.8px) {
    .myacc-delivered__left {
        max-width: calc(100% - 160px);
        flex: 0 0 calc(100% - 160px);
    }

    .myacc-delivered__right {
        max-width: 160px;
        flex: 0 0 160px;

        .bordergreenbtn,
        .greenbtn {
            font-size: 13px;
            min-height: 40px;
        }
    }

    .delorderinfo span {
        margin-right: 30px;
    }

    .deliveredproduct__descr .title {
        font-size: 16px;
    }

}

@media(max-width:991.8px) {
    .recentorder-filter .leftsect {
        max-width: 220px;
        flex: 0 0 220px;
    }

    .recentorder-filter .rightsect {
        max-width: calc(100% - 220px);
        flex: 0 0 calc(100% - 220px);
    }
}

@media(max-width:767.8px) {
    .recentorder-filter .leftsect {
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: 20px;
    }

    .recentorder-filter .rightsect {
        max-width: 100%;
        flex: 0 0 100%;
        padding-left: 0;
    }

    .myacc-delivered__left,
    .myacc-delivered__right {
        max-width: 100%;
        flex: 0 0 100%;
        padding: 0;
    }

    .myacc-delivered__right {
        margin-top: 20px;
    }
}

@media(max-width:575.8px) {
    .acccontentsect__header {
        min-height: 60px;
    }

    .recentorder-filter .leftsect {
        margin-bottom: 10px;
    }

    .recentorder-filter {
        margin-bottom: 20px;
    }

    .delorderinfo span {
        margin-right: 0;
        display: block;
    }

    .deliveredproduct__img {
        max-width: 100%;
        flex: 0 0 100%;

        img {
            max-width: 100px;
        }
    }

    .deliveredproduct__descr {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .deliveredproduct__descr .title {
        font-size: 15px;
    }

    .myacc-delivered__right .greenbtn {
        font-size: 13px !important;
        min-height: 40px !important;
    }

    .acccontentsect.myaccrecorder .pagination {
        ul {
            li {
                margin: 0 1px;

                a {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }

}

@media(max-width:360.8px) {
    .acccontentsect.myaccrecorder .pagination ul li {
        margin: 0;
    }
}

// My posted reviews
.acccontentsect__body.mypostedreviews {
    padding: 0;
}

.accpostedreviews__header {
    padding: 25px 25px 0 25px;
    border-bottom: 1.5px solid #D9DBDF;

    .tabbtn {
        padding: 0 10px;
        color: $base-green;
        font-size: 18px;
        font-weight: 500;
        line-height: 120%;
        margin-right: 50px;
        border-bottom: 4px solid transparent;
        padding-bottom: 20px;
        display: inline-block;
        cursor: pointer;

        &:last-child {
            margin-right: 0;
        }

        &.active {
            font-weight: 600;
            border-color: $base-green;
        }
    }
}

.tabcontent {
    display: none;

    &.show {
        display: block;
    }
}

.contactsection__tabbody {
    padding: 45px 35px;
}

.postedreviewbox {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.06);
    padding: 20px;
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }
}

.postedreviewbox__left {
    width: 100%;
    max-width: 180px;
    flex: 0 0 180px;

    .imgwrap {
        text-align: center;

        img {
            max-width: 100%;
        }
    }
}

.postedreviewbox__right {
    width: 100%;
    max-width: calc(100% - 180px);
    flex: 0 0 calc(100% - 180px);
    padding-left: 16px;

    .title {
        color: $bace-color;
        font-size: 17px;
        font-weight: 500;
        line-height: 160%;
        margin-bottom: 15px;
    }

    .rating {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 120px;
        flex: 0 0 120px;
        margin-bottom: 15px;

        img {
            width: 19px;
        }
    }

    textarea {
        width: 100%;
        border: transparent;
        font-family: "Montserrat", sans-serif;
        color: $bace-color;
        font-size: 15px;
        line-height: 150%;
        outline: none;
        pointer-events: none;
        resize: none;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }




}

.postedreviewbox__bottomsect {
    text-align: right;
    margin-top: 35px;

    .date {
        color: #808080;
        font-size: 14px;
        font-weight: 500;
        line-height: 120%;
        margin-left: 40px;
    }

    .postedreview__share {
        font-size: 15px;
        font-weight: 500;
        line-height: 150%;
        margin-left: 40px;
        display: inline-block;
        color: #259688;

        img {
            width: 15px;
            vertical-align: middle;
            margin-left: 6px;
        }
    }

    .postedreview__edit {
        color: #259688;
        font-size: 15px;
        line-height: 160%;
        text-decoration: underline;
        text-underline-offset: 2px;

        &:hover {
            text-decoration: none;
        }
    }

    .btngroup {
        display: none;
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 35px;

        a {
            min-height: 45px;
            font-size: 15px;
        }

        .greenbtn {
            max-width: 225px;
        }

        .bordergreenbtn {
            max-width: 128px;
            margin-right: 20px;
        }
    }

}

.postedreviewbox__right.edit {
    textarea {
        padding: 17px 30px;
        border-radius: 15px;
        border: 2px solid #DBDCE2;
        height: 130px;
        pointer-events: all;
    }

    .postedreview-uploadphoto {
        display: block;
    }

    .btngroup {
        display: flex;
    }

    .postedreviewbox__bottset {
        display: none;
    }
}

.postedreview-uploadphoto {
    margin-top: 17px;
    display: none;

    .addphotovideo {
        display: none;
    }

    .imageuploadify .imageuploadify-images-list button.btn-default {
        width: 120px;
        height: 105px;
        padding: 20px 10px 10px 10px;
        font-size: 9px;
        font-weight: 500;
        line-height: 130%;

        &::before {
            width: 26px;
            height: 26px;
            margin-bottom: 10px;
        }
    }

    .imageuploadify .imageuploadify-images-list .imageuploadify-container {
        width: 120px;
        height: 105px;
    }
}

@media(max-width:1199.8px) {
    .postedreviewbox__left {
        max-width: 120px;
        flex: 0 0 120px;
    }

    .postedreviewbox__right {
        max-width: calc(100% - 120px);
        flex: 0 0 calc(100% - 120px);
    }

    .postedreviewbox__right .title {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .postedreviewbox__right .rating {
        margin-bottom: 10px;
    }

    .postedreviewbox__right.edit textarea {
        padding: 10px 15px;
        font-size: 14px;
    }

    .postedreview-uploadphoto {
        .uploadphoto .imageuploadify .imageuploadify-images-list .imageuploadify-container {
            margin-left: 0 !important;
        }

        .imageuploadify .imageuploadify-images-list button.btn-default {
            margin-right: 20px;
        }
    }

}

@media(max-width:991.8px) {

    .postedreview-uploadphoto .imageuploadify .imageuploadify-images-list button.btn-default {
        margin-right: 10px;
    }

    .contactsection__tabbody {
        padding: 20px;
    }

    .postedreviewbox__bottomsect .btngroup .greenbtn {
        max-width: 160px;
    }

}

@media(max-width:767.8px) {

    .postedreviewbox__left,
    .postedreviewbox__right {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .postedreviewbox__left .imgwrap {
        margin-bottom: 20px;

        img {
            max-height: 160px;
        }
    }

    .postedreviewbox__bottomsect .date {
        margin-left: 20px;
    }

    .postedreviewbox__bottomsect .postedreview__share {
        margin-left: 30px;
    }

    .postedreviewbox__right.edit .btngroup {
        justify-content: space-between;

        .bordergreenbtn {
            margin-right: 0;
        }

        .bordergreenbtn,
        .greenbtn {
            max-width: 45%;
            flex: 0 0 45%;
        }
    }

    .postedreviewbox__bottomsect .btngroup {
        padding-bottom: 20px;
    }

    .accpostedreviews__header {
        padding: 15px 15px 0 15px;
    }

    .accpostedreviews__header .tabbtn {
        padding-bottom: 10px;
    }

    .accpostedreviews__header .tabbtn {
        margin-right: 20px;
    }

    .postedreviewbox__right {
        padding-left: 0;
    }

}

@media(max-width:575.8px) {

    .accpostedreviews__header .tabbtn {
        font-size: 16px;
    }

    .postedreviewbox {
        padding: 10px;
    }

    .postedreviewbox__left .imgwrap img {
        max-height: 120px;
    }

    .postedreviewbox__right .title {
        font-size: 15px;
    }

    .postedreviewbox__right textarea {
        -webkit-line-clamp: 4;
        height: 90px;
        font-size: 14px;
    }

    .postedreviewbox__right.edit textarea {
        height: 200px;
        overflow: scroll;
    }

    .postedreview-uploadphoto .imageuploadify .imageuploadify-images-list .imageuploadify-container {
        width: 90px;
        height: 90px;
    }

    .postedreview-uploadphoto .imageuploadify .imageuploadify-images-list button.btn-default {
        width: 100%;
        height: 90px;
    }

    .postedreview-uploadphoto .imageuploadify .imageuploadify-images-list button.btn-default {
        margin-left: 0;
    }

    .postedreviewbox__right.edit .btngroup {
        flex-wrap: wrap;
    }

    .postedreviewbox__right.edit .btngroup .bordergreenbtn {
        margin-bottom: 10px;
    }

    .postedreviewbox__right.edit .btngroup .bordergreenbtn,
    .postedreviewbox__right.edit .btngroup .greenbtn {
        max-width: 100%;
        flex: 0 0 100%;
        font-size: 13px !important;
        min-height: 40px !important;
    }

    .postedreviewbox__bottomsect .date {
        margin: 10px 0 0 0;
        display: block;
    }

    .postedreview-uploadphoto .imageuploadify {
        min-width: initial;
    }

    .postedreviewbox__bottomsect {
        margin-top: 25px;
    }

    .widthwrap .inputicon:after {
        left: 20px;
        top: 49px;
    }
}

@media(max-width:360.8px) {
    .postedreview-uploadphoto .uploadphoto .imageuploadify .imageuploadify-images-list .imageuploadify-container {
        margin-right: 0 !important;
        width: 100%;
    }
}

// My posted blog
.postedblogrow {

    .col-lg-4,
    .col-xl-4 {
        margin-bottom: 18px;
    }

    .recipesslide .recipesslide__imgwrap {
        height: 182px;
    }

    .recipesslide .recipesslide__descr {
        padding: 19px;
    }

    .slidetimebox {
        padding-bottom: 12px;

        ul li {
            font-size: 11px;
        }
    }

    .recipesslide .recipesslide__title {
        font-size: 17px;
        margin-bottom: 20px;
        min-height: 50px;
    }

    .greenarrlink {
        font-size: 13px;
        padding-right: 22px;

        &::after {
            width: 14px;
            height: 14px;
        }
    }

}

.postedblogeditbtn {
    position: absolute;
    z-index: 2;
    right: 16px;
    top: 16px;
}

.mypostedblog {
    padding: 0;
}

@media(max-width:991.8px) {
    .postedblogrow .recipesslide .recipesslide__imgwrap {
        height: 160px;
    }
}

@media(max-width:575.8px) {
    .contactsection__tabbody {
        padding: 15px;
    }

    .postedblogrow .recipesslide .recipesslide__imgwrap {
        height: 130px;
    }

    .postedblogrow .recipesslide .recipesslide__descr {
        padding: 10px;
    }

    .postedblogrow .recipesslide .recipesslide__title {
        font-size: 16px;
        min-height: 46px;
    }

}

// Posted recipes
.postedblogrow {

    .recipesslide__info {
        margin-bottom: 11px;

        ul {
            li {
                font-size: 11px;

                img {
                    margin-right: 3px;
                    margin-top: -3px;
                }
            }
        }
    }

}


// update profile pic

.updateava__left {
    width: 100%;
    max-width: calc(100% - 150px);
    flex: 0 0 calc(100% - 150px);
    display: flex;
    flex-wrap: wrap;

    .updateava__img {
        width: 100%;
        max-width: 63px;
        flex: 0 0 63px;
        height: 63px;
        border-radius: 50%;
        overflow: hidden;
        position: relative;

        img {
            object-fit: cover;
            object-position: 50% 50%;
            width: 100%;
            height: 100%;

        }
    }

    .updateava__descr {
        width: 100%;
        max-width: calc(100% - 63px);
        flex: 0 0 calc(100% - 63px);
        padding-left: 16px;

        p {
            margin: 0;
            font-size: 14px;
            color: #21292F;
        }

        .title {
            margin-bottom: 10px;
            font-size: 17px;
            font-weight: 500;
            color: #21292F;
            line-height: 160%;
        }
    }
}

.updateava__right {
    width: 100%;
    max-width: 150px;
    flex: 0 0 150px;
    text-align: right;

    input {
        display: none;
    }

    label {
        color: #259688;
        font-size: 15px;
        text-decoration: underline;
        text-underline-offset: 3px;
        cursor: pointer;

        &:hover {
            text-decoration: none;
        }
    }
}

@media(max-width:575.8px) {

    .updateava__right,
    .updateava__left {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .updateava__right {
        order: 1;
        margin-bottom: 10px;
    }

    .updateava__left {
        order: 2;
    }

    .updateava__left .updateava__descr p {
        font-size: 12px;
    }

    .updateava__left .updateava__descr .title {
        margin-bottom: 5px;
        font-size: 15px;
    }

    .updateava__left .updateava__img {
        max-width: 50px;
        flex: 0 0 50px;
        height: 50px;
    }

    .updateava__left .updateava__descr {
        max-width: calc(100% - 50px);
        flex: 0 0 calc(100% - 50px);
        padding-left: 10px;
    }
}


// upd1
.myacc-delivered {

    .myacc-delivered__left,
    .myacc-delivered__right {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .myacc-delivered__right {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-left: 100px;
    }

    .bordergreenbtn {
        margin: 0 20px 0 0;
        display: inline-flex;
        width: auto;
        min-width: 205px;
        padding: 3px 10px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.custservice {
    .modal-content {
        padding: 40px 40px 55px;
        border-radius: 22px;
        border: none;
    }

    .modal-dialog {
        max-width: 665px;
    }

    .custservice__topimg {
        max-width: 100px;
        margin: 0 auto 35px;
    }

    .title {
        text-align: center;
        color: #21292F;
        font-weight: 600;
        font-size: 30px;
        margin-bottom: 30px;
    }

    .inputfield {
        margin-bottom: 30px;
    }

    .custservice__modalbtns {
        padding-top: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        button {
            width: 100%;
            max-width: calc(50% - 15px);
            flex: 0 0 calc(50% - 15px);
            min-height: 45px;
            font-size: 15px;
        }
    }

}

@media(max-width:1599.8px) {
    .custservice .custservice__topimg {
        max-width: 80px;
        margin-bottom: 20px;
    }

    .custservice .title {
        font-size: 26px;
        margin-bottom: 20px;
    }

    .custservice .custservice__modalbtns {
        padding-top: 0;
    }

    .custservice .inputfield {
        margin-bottom: 20px;
    }

    .custservice .modal-dialog {
        max-width: 600px;
    }


}

@media(max-width:1399.8px) {

    .myacc-delivered .myacc-delivered__right {
        padding-left: 0;
        padding-top: 20px;

        .bordergreenbtn {
            margin-bottom: 10px;
            margin-right: 10px;
            min-width: 170px;
        }
    }

}

@media(max-width: 991.8px) {
    .custservice .custservice__modalbtns {
        padding-top: 20px;
    }
}

@media(max-width: 767.8px) {
    .custservice .modal-dialog {
        max-width: 500px;
    }
}

@media(max-width: 575.8px) {
    .custservice .modal-content {
        padding: 20px;
        border-radius: 10px;
    }

    .custservice .title {
        font-size: 22px;
    }

    .custservice .custservice__modalbtns {
        padding-top: 10px;

        button {
            max-width: calc(50% - 5px);
            flex: 0 0 calc(50% - 5px);
            font-size: 13px !important;
            min-height: 40px !important;
        }
    }
}

@media(max-width:480.8px) {
    .myacc-delivered .myacc-delivered__right .bordergreenbtn {
        margin-right: 0;
        width: 100%;
    }
}

@media(max-width: 360.8px) {
    .custservice .title {
        font-size: 19px;
    }

    .custservice .modal-content {
        padding: 20px 15px;
    }

    .custservice .custservice__topimg {
        max-width: 60px;
    }
}