.producttopsect {
    padding-top: 10px;
    position: relative;
    overflow: hidden;
    padding-bottom: 30px;
}

.prodbig {
    padding: 20px;
    margin-left: -20px;

    .imgwrap {
        position: relative;
        height: 607px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.06);

        img {
            max-width: 80%;
            max-height: 480px;
        }

        .slidelabel {
            position: absolute;
            right: 25px;
            top: 0;
            width: 80px;
            height: 50px;
            color: #fff;
            font-size: 18px;
            font-weight: 600;
            line-height: 150%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0px 0px 16px 16px;

            &.orange {
                background: #FF810D;
            }
        }
    }

    .zoomicon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: rgba(217, 219, 223, 0.13);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 30px;
        bottom: 30px;

        img {
            width: 20px;
        }
    }
}

.slsmwrap {
    width: calc(100% - 20px);

    .prodsmall {
        padding-left: 5px;
    }

    .imgwrap {
        height: 116px;
        box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.03);
        border-radius: 5px;
        border: 0.8px solid transparent;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .swiper-slide-thumb-active {
        .imgwrap {
            border: 0.8px solid #D9DBDF;
        }
    }

}

.productinfo {
    padding: 0 50px;
}

.productinfo {
    padding-top: 20px;

    .productinfo__name {
        color: #000;
        font-size: 24px;
        font-weight: 600;
        line-height: 160%;
        margin-bottom: 15px;
    }

    .sellratbox {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

}

.sellratbox {
    margin-bottom: 20px;

    .seller {
        width: 100%;
        max-width: calc(100% - 220px);
        flex: 0 0 calc(100% - 220px);
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        img {
            width: 100%;
            max-width: 20px;
            flex: 0 0 20px;
            margin-right: 10px;
        }

        p {
            margin: 0;
            color: $bace-color;
            font-size: 16px;
            font-weight: 500;
            line-height: 150%;

            span,
            a {
                font-weight: 400;
                text-decoration: underline;
                text-underline-offset: 2px
            }
        }

    }

    .ratingresponse {
        width: 100%;
        max-width: 220px;
        flex: 0 0 220px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .stars {
            margin-right: 10px;
            display: flex;
            align-items: center;

            img {
                width: 15px;
                margin-right: 5px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        span {
            color: #3B454C;
            font-size: 14px;
            line-height: 135%;
        }
    }
}

.productinfo__price {
    color: #3B454D;
    font-size: 29px;
    font-weight: 600;
    line-height: 110%;
    padding-bottom: 16px;
    border-bottom: 1px solid #D9DBDF;
    margin: 0;
}

.productinfo__descr {
    color: $bace-color;
    font-size: 14px;
    line-height: 150%;
    padding: 20px 0;
    border-bottom: 1px solid #D9DBDF;

    p {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.productinfo__addproduct {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    align-items: center;
    border-bottom: 1px solid #D9DBDF;

    .greenbtn {
        width: 100%;
        max-width: calc(100% - 195px);
        flex: 0 0 calc(100% - 195px);
        height: 45px;
        font-size: 15px;
    }

    .productinfo__addwrap {
        width: 100%;
        max-width: 195px;
        flex: 0 0 195px;

        .number {
            width: 145px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            input {
                width: 85px;
                height: 36px;
                border-radius: 30px;
                border: 1px solid #D9DBDF;
                text-align: center;
                color: #626262;
                font-size: 16px;
                font-weight: 500;
                font-family: 'Montserrat', sans-serif;
            }

            span {
                width: 100%;
                max-width: 20px;
                flex: 0 0 20px;
                height: 20px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background: $base-green;
                border-radius: 50%;
                cursor: pointer;
            }
        }
    }

}

.productinfo__deliveryinfo {
    padding: 28px 0 20px 0;

    p {
        position: relative;
        margin-bottom: 30px;
        padding-left: 50px;
        color: $bace-color;
        font-size: 16px;
        line-height: 150%;

        .imgwrap {
            position: absolute;
            left: 0;
            top: -8px;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-width: 100%;
            }
        }

        b {
            font-weight: 500;
        }

        span {
            color: $base-green;
            font-weight: 500;
        }
    }
}

.productsection_product {
    padding-bottom: 45px;
}

.prinfobox {
    background: $white;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 65px;
}

.greytitle {
    color: $bace-color;
    font-size: 25px;
    font-weight: 600;
    line-height: 135%;
    padding: 23px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    background: #F0F0F0;
    margin: 0;
}

.prinfobox__body {
    padding: 30px 40px 90px 40px;
    color: $bace-color;
    font-size: 15px;
    line-height: 150%;

    .leftsect {
        padding-right: 45px;
    }

    p {
        margin-bottom: 10px;

        &.title {
            font-size: 17px;
            font-weight: 600;
            line-height: 135%;
            margin-top: 30px;
            margin-bottom: 20px;
        }
    }

    .supplementfacts {
        margin-bottom: 40px;

        .title {
            margin-top: 0;
            margin-bottom: 20px;
            font-size: 20px;
            font-weight: 600;
            line-height: 135%;
        }

        .descr {
            p {
                padding: 12px 5px;
                margin: 0;
                border-bottom: 1px solid #D9DBDF;

                &:first-child {
                    border-top: 1px solid #D9DBDF;
                }

                &:nth-child(2n) {
                    background: #FAFAFA;
                }
            }
        }
    }

    .supplementtable {
        .supplementtable__header {
            display: flex;
            justify-content: flex-end;
            padding-bottom: 26px;

            p {
                font-size: 12px;
                font-weight: 600;
                line-height: 135%;
                margin: 0;
            }

            .amountperserving {
                width: 100%;
                max-width: 125px;
                flex: 0 0 125px;
            }

            .dailyval {
                width: 100%;
                max-width: 75px;
                flex: 0 0 75px;
            }
        }

        .supplementtable__row {
            border-top: 1px solid #D9DBDF;
            display: flex;
            flex-wrap: wrap;
            padding: 12px 5px;

            &:last-child {
                border-bottom: 1px solid #D9DBDF;
            }

            &:nth-child(2n) {
                background: #FAFAFA;
            }

            p {
                margin: 0;
                line-height: 135%;
            }

            .supplementtable__title {
                width: 100%;
                max-width: calc(100% - 200px);
                flex: 0 0 calc(100% - 200px);
            }

            .amountperserving {
                width: 100%;
                max-width: 125px;
                flex: 0 0 125px;
            }

            .dailyval {
                width: 100%;
                max-width: 75px;
                flex: 0 0 75px;
            }
        }
    }

    .supplementtable__botttext {
        padding: 13px 5px;
        min-height: 100px;
        border-bottom: 1px solid #D9DBDF;
        border-top: 1px solid #D9DBDF;
        background: #FAFAFA;
    }











}

.productsection-sliderwrapper.prod {

    .swiper {
        padding-left: 12px;
        padding-right: 12px;
    }

    .productbox {
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.06);
    }
}

.accordeonsect {
    .accordeonsect__row {
        border-bottom: 1px solid #D9DBDF;
    }

    .accordeonsect_header {
        position: relative;
        padding: 20px 50px 20px 0;
        cursor: pointer;

        p {
            margin: 0;
            font-size: 20px;
            font-weight: 600;
            line-height: 135%;
        }

        .accordeonsect_arrow {
            position: absolute;
            width: 30px;
            height: 30px;
            right: 0;
            top: 19px;
            transition: 0.3s;

            svg {
                path {
                    transition: 0.3s;
                }
            }
        }

        &.open {
            .accordeonsect_arrow {
                transform: rotate(180deg);

                svg {
                    path {
                        stroke: $base-green;
                    }
                }
            }
        }

    }

    .accordeonsect__body {
        display: none;
        padding-bottom: 30px;

        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

}

.custreviews {
    width: 100%;
    max-width: 1022px;
    margin: 0 auto;
    padding: 40px 0 0 0;


    .custreviews__wrap {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid #D9DBDF;
        padding-bottom: 90px;
    }

    .custreviews__left {
        width: 100%;
        max-width: 53%;
        flex: 0 0 53%;
        display: flex;
        flex-wrap: wrap;

        .writereview {
            width: 100%;
            max-width: 247px;
            flex: 0 0 247px;
            padding-right: 30px;
        }

        .productrating {
            width: 100%;
            max-width: calc(100% - 247px);
            flex: 0 0 calc(100% - 247px);
        }
    }

    .custreviews__right {
        width: 100%;
        max-width: 47%;
        flex: 0 0 47%;
        text-align: right;

        .imgswrap {
            display: inline-flex;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 430px;
            width: 100%;

            .imgwrap {
                height: 70px;
                width: 100px;
                position: relative;
                overflow: hidden;
                border-radius: 5px;
                margin-bottom: 10px;

                img {
                    object-fit: cover;
                    object-position: 50% 50%;
                    width: 100%;
                    height: 100%;
                }

            }

        }
    }
}

.evaluation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 5px;

    span {
        width: 100%;
        max-width: 70px;
        flex: 0 0 70px;
        font-size: 44px;
        font-weight: 600;
        line-height: 135%;
    }

    .stars {
        width: 100%;
        max-width: calc(100% - 70px);
        flex: 0 0 calc(100% - 70px);
        padding-left: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            width: 21px;
        }
    }

}

.writereview {
    border-right: 1px solid #D9DBDF;

    p {
        font-size: 17px;
        margin-bottom: 25px;
    }

    .greenbtn {
        min-height: 45px;
        font-size: 14px;
    }
}

.productrating {
    padding-left: 30px;
}

.productrating__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }

    &>span {
        font-size: 14px;
        line-height: 110%;
    }

    .ratingline {
        width: 160px;
        height: 16px;
        border-radius: 2px;
        background: #E3E4E5;
        position: relative;

        span {
            position: absolute;
            left: 0;
            top: 0;
            height: 16px;
            background: $base-green;
            border-radius: 2px;
        }
    }
}

.prodtestimonials {
    padding: 35px 0 0 0;
}

.prodtestimonial {
    margin-bottom: 50px;

    &:last-child {
        margin-bottom: 0;
    }

    .prodtestimonial__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 15px;

        .date {
            color: #808080;
            font-size: 14px;
            font-weight: 500;
            line-height: 120%;
        }

        .prodtestimonial__userbox {
            display: flex;
            align-items: center;

            .imgwrap {
                width: 100%;
                max-width: 45px;
                flex: 0 0 45px;
                position: relative;
                overflow: hidden;
                border-radius: 50%;

                img {
                    width: 100%;
                    height: 100%;
                    vertical-align: top;
                    object-fit: cover;
                }
            }

            .name {
                padding-left: 13px;

                p {
                    margin-bottom: 5px;
                    color: #333;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 120%;
                }

                .stars {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 90px;

                }
            }
        }
    }

    .prodtestimonial__body {
        padding-bottom: 17px;

        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .prodtestimonial__footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        p {
            color: #808080;
            font-size: 14px;
            font-weight: 500;
            line-height: 120%;
            margin: 0;
        }

        a {
            color: #808080;
            font-size: 14px;
            font-weight: 500;
            line-height: 120%;
            margin-left: 16px;

            img {
                vertical-align: middle;
                margin-right: 5px;
                margin-top: -4px;
            }
        }
    }

}

.productinfo.mob {
    display: none;
}

@media(max-width:1550.8px) {
    .product-description.review .prinfobox {
        margin-bottom: 0;
    }
}

@media(max-width:1199.8px) {

    .prodbig .imgwrap .slidelabel {
        width: 60px;
        height: 40px;
        font-size: 16px;
        border-radius: 0 0 10px 10px;
    }

    .prodbig .imgwrap {
        height: 500px;
    }

    .prodbig .imgwrap img {
        max-width: 90%;
        max-height: 400px;
    }

    .productinfo {
        padding: 10px 0 0 0;
    }

    .productinfo .productinfo__name {
        line-height: 140%;
    }

    .productinfo__deliveryinfo p {
        margin-bottom: 10px;
    }

    .custreviews .custreviews__left .writereview {
        max-width: 200px;
        flex: 0 0 200px;
        padding-right: 10px;
    }

    .custreviews .custreviews__left .productrating {
        max-width: calc(100% - 200px);
        flex: 0 0 calc(100% - 200px);
    }

    .evaluation span {
        font-size: 36px;
        max-width: 60px;
        flex: 0 0 60px;
    }

    .evaluation .stars img {
        width: 18px;
    }

    .writereview p {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .productrating {
        padding-left: 10px;
    }

    .productrating__row .ratingline {
        width: 140px;
    }

    .custreviews .custreviews__right {
        padding-left: 20px;
    }

    .custreviews .custreviews__right .imgswrap .imgwrap {
        width: 90px;
    }

    .custreviews .custreviews__wrap {
        padding-bottom: 50px;
    }

}

@media(max-width:991.8px) {
    .prinfobox__body {
        .rightsect {
            margin-top: 30px;
        }
    }

    .custreviews .custreviews__left,
    .custreviews .custreviews__right {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .custreviews .custreviews__right {
        padding-left: 0;
        margin-top: 30px;
        text-align: center;
    }

    .accordeonsect .accordeonsect_header p {
        font-size: 18px;
    }
}

@media(max-width:767.8px) {
    .productslidersect {
        margin-bottom: 30px;
    }

    .productinfo__deliveryinfo,
    .producttopsect {
        padding-bottom: 0;
    }

    .prinfobox__body {
        padding: 20px 20px 40px 20px;
    }

    .productinfo.mob {
        display: block;
    }

    .productinfo {
        display: none;
    }

}

@media(max-width:575.8px) {

    .prodbig .imgwrap .slidelabel {
        font-size: 14px;
    }

    .prodbig .imgwrap .slidelabel {
        width: 50px;
        height: 30px;
    }

    .productinfo .productinfo__name {
        font-size: 20px;
    }

    .sellratbox .seller,
    .sellratbox .ratingresponse {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .sellratbox .seller {
        margin-bottom: 15px;
    }

    .productsection {
        padding-top: 30px;
    }

    .prinfobox__body .leftsect {
        padding-right: 0;
    }

    .greytitle {
        font-size: 18px;
        padding: 15px;
    }

    .prinfobox__body .supplementtable .supplementtable__header .dailyval,
    .prinfobox__body .supplementtable .supplementtable__row .dailyval {
        max-width: 60px;
        flex: 0 0 60px;
    }

    .prinfobox__body .supplementtable .supplementtable__header .amountperserving,
    .prinfobox__body .supplementtable .supplementtable__row .amountperserving {
        max-width: 90px;
        flex: 0 0 90px;
        padding-right: 10px;
    }

    .prinfobox__body .supplementtable .supplementtable__row .supplementtable__title {
        max-width: calc(100% - 150px);
        flex: 0 0 calc(100% - 150px);
        padding-right: 10px;
    }

    .prinfobox__body .supplementtable__botttext {
        font-size: 14px;
    }

    .accordeonsect .accordeonsect_header p {
        font-size: 16px;
    }

    .prinfobox {
        margin-bottom: 40px;
    }

    .custreviews {
        padding-top: 0;
    }

    .custreviews .custreviews__left .writereview {
        max-width: 100%;
        flex: 0 0 100%;
        padding-right: 0;
        border: none;
    }

    .custreviews .custreviews__left .productrating {
        max-width: 100%;
        flex: 0 0 100%;
        margin-top: 30px;
    }

    .evaluation .stars {
        max-width: 140px;
    }

    .productrating__row {
        margin-bottom: 10px;
    }

    .custreviews .custreviews__right .imgswrap .imgwrap {
        width: calc(25% - 5px);
    }

    .custreviews .custreviews__wrap {
        padding-bottom: 20px;
    }

    .prodtestimonial .prodtestimonial__header {
        align-items: flex-start;

        .prodtestimonial__userbox {
            max-width: 60%;
            flex: 0 0 60%;
        }

        .date {
            max-width: 40%;
            flex: 0 0 40%;
            padding-left: 10px;
            text-align: right;
            padding-top: 5px;
        }
    }

    .prodbig {
        margin: 0;
    }

}

@media(max-width:360.8px) {
    .prinfobox__body .supplementtable .supplementtable__row {
        font-size: 14px;
    }

    .prinfobox__body .supplementtable .supplementtable__header .dailyval,
    .prinfobox__body .supplementtable .supplementtable__row .dailyval {
        max-width: 50px;
        flex: 0 0 50px;
    }

    .prinfobox__body .supplementtable .supplementtable__header .amountperserving,
    .prinfobox__body .supplementtable .supplementtable__row .amountperserving {
        max-width: 80px;
        flex: 0 0 80px;
    }

    .prinfobox__body .supplementtable .supplementtable__row .supplementtable__title {
        max-width: calc(100% - 130px);
        flex: 0 0 calc(100% - 130px);
    }
}
