.mainslidersect.mainslidersect__recipes {
    padding-top: 30px;

    .mainslider__slide .slideinfo .mainslider__slidetitle {
        font-size: 47px;
        line-height: 140%;
    }
}

.recipessearch__wrap {
    display: flex;
    flex-wrap: wrap;
}

.recipessearch {
    .recipessearch__wrap {
        padding: 40px 0 52px;
        border-bottom: 1px solid #D9DBDF;
    }

    .recipessearch__selectbox {
        width: 100%;
        max-width: 270px;
        flex: 0 0 270px;
        margin-right: 100px;
    }

    .recipessearch__searchbox {
        width: 100%;
        max-width: 682px;
        flex: 0 0 682px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .searchblock {
        width: 100%;
        max-width: 355px;
        flex: 0 0 355px;
        position: relative;

        input {
            width: 100%;
            height: 43px;
            border-radius: 35px;
            border: 1px solid #D9DBDF;
            background: #FFF;
            padding-left: 20px;
            font-size: 14px;
            font-weight: 500;
            padding-right: 45px;
            transition: 0.3s;

            &::placeholder {
                color: #9AA0A4;
            }

            &:focus {
                border-color: $base-green;
            }
        }

        button {
            border: none;
            padding: 0;
            background: $base-green;
            width: 38px;
            height: 38px;
            position: absolute;
            right: 3px;
            top: 2px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                background: #13b086;
            }
        }
    }

    .bordergreenbtn {
        width: 100%;
        max-width: 229px;
        flex: 0 0 229px;
        min-height: 43px;
        font-size: 15px;
        line-height: 110%;
    }

    p {
        margin: 0;
        color: #8E939A;
        font-size: 14px;
        font-weight: 500;
        line-height: 110%;
    }
}

.recipesslider.recipesslider__reccenter {
    padding: 75px 0 60px;
}

.infosectwrap {
    min-height: 325px;
    position: relative;
    overflow: hidden;
    border-radius: 25px;

    .row {
        position: relative;
        z-index: 2;
    }

    .infosect__bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }

    .infosect__descr {
        padding: 20px 20px 20px 120px;

        h3 {
            font-family: 'Poetsenone';
            font-size: 40px;
            line-height: 110%;
            letter-spacing: 1.879px;
            text-transform: uppercase;
            color: #fff;
            font-weight: 400;
            margin-bottom: 20px;
        }

        p {
            max-width: 400px;
            color: #fff;
            font-size: 15px;
            font-weight: 500;
            line-height: 150%;
            margin-bottom: 35px;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 45px;
            max-width: 226px;
            border-radius: 40px;
            border: 1.5px solid $white;
            color: $white;
            font-size: 15px;
            font-weight: 600;
            line-height: 100%;
            transition: 0.3s;

            &:hover {
                background-color: $white;
                color: $base-green;
            }
        }

    }

    .infosect__img {
        height: 100%;
        overflow: hidden;
        padding-left: 70px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 0 50%;
        }
    }
}

.recipesslider.recipesslider__video {
    padding: 80px 0 0 0;

    .productsection__header {
        flex-wrap: wrap;
        margin-bottom: 40px;

        p {
            margin-bottom: 25px;
        }

        .descr {
            max-width: 440px;
            margin-bottom: 0;
            font-size: 17px;
            font-weight: 400;
            line-height: 150%;
        }
    }

    .recipesslide {
        border-radius: 10px;
    }

    .recipesslide__imgwrap {
        height: 254px;
        border-radius: 10px 10px 0 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            background: rgba(0, 0, 0, 0.30);
        }

        img {
            position: absolute;
        }

        .playbtn {
            padding: 0;
            border: none;
            outline: none;
            width: 65px;
            height: 65px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background: rgba(19, 176, 134, 0.78);
            z-index: 2;
            border-radius: 50%;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                background: rgba(19, 176, 134, 1);
            }

            img {
                width: 28px;
                height: 32px;
                object-fit: inherit;
                margin-right: -5px;
            }
        }

        .productlabel {
            position: absolute;
            top: 0;
            right: 20px;
            z-index: 2;
            width: 55px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $white;
            font-size: 13px;
            font-weight: 600;
            line-height: 150%;
            border-radius: 0px 0px 10px 10px;


            &.green {
                background: #158466;
            }
        }

    }

    .recipesslide .recipesslide__title {
        margin-bottom: 0;
        font-size: 22px;
    }

    .recipesslide .recipesslide__descr {
        padding-bottom: 25px;
    }

    .recipesslide .recipesslide__info {
        margin-bottom: 25px;
    }
}

.allrecipes {
    padding: 60px 0 70px;

    .productsection__header {
        margin-bottom: 70px;
    }

    .recipesslide {
        margin-bottom: 34px;
    }

    .pagination {
        margin-top: 35px;
    }
}

.infosectwrap .infosect__img {
    height: 325px;
}


@media(max-width:1550.8px) {

    .recipesslide .recipesslide__title {
        min-height: 58px;
    }


    .recipesslider.recipesslider__video .recipesslide .recipesslide__title {
        font-size: 20px;
    }

}

@media(max-width:1199.8px) {

    .recipessearch .recipessearch__selectbox {
        max-width: 220px;
        flex: 0 0 220px;
        margin: 0;
    }

    .recipessearch .recipessearch__searchbox {
        max-width: calc(100% - 220px);
        flex: 0 0 calc(100% - 220px);
        padding-left: 30px;
        justify-content: flex-start;
    }

    .recipessearch .searchblock {
        max-width: 260px;
    }

    .recipessearch p {
        padding: 0 20px;
    }

    .mainslidersect.mainslidersect__recipes {
        padding-top: 15px;
    }

    .recipesslider.recipesslider__video .recipesslide__imgwrap {
        height: 220px;
    }

    .recipesslide .recipesslide__imgwrap {
        height: 220px;
    }

    .recipesslide .recipesslide__descr {
        padding: 20px 15px 20px 15px;
    }

    .infosectwrap .infosect__descr {
        padding-left: 60px;
    }



    .recipesslider.recipesslider__video .productsection__header {
        margin-bottom: 20px;
    }

    .allrecipes .productsection__header {
        margin-bottom: 40px;
    }
}

@media(max-width:991.8px) {
    .mainslidersect.mainslidersect__recipes .mainslider__slide .slideinfo .mainslider__slidetitle {
        font-size: 32px;
    }

    .recipessearch .recipessearch__selectbox {
        max-width: 200px;
        flex: 0 0 200px;
    }

    .recipessearch .recipessearch__searchbox {
        padding-left: 20px;
        max-width: calc(100% - 200px);
        flex: 0 0 calc(100% - 200px);
    }

    .recipessearch .searchblock,
    .recipessearch .bordergreenbtn {
        max-width: calc(50% - 20px);
    }

    .recipessearch p {
        width: 40px;
        padding: 0;
        text-align: center;
    }

    .recipessearch .recipessearch__wrap {
        padding: 30px 0;
    }

    .infosectwrap .infosect__descr {
        padding-left: 30px;
    }

    .infosectwrap .infosect__img {
        padding-left: 10px;
    }

    .recipesslider.recipesslider__video {
        padding-top: 60px;
    }








    .recipesslider.recipesslider__reccenter {
        padding: 60px 0 40px;
    }

}

@media(max-width:767.8px) {
    .recipessearch .recipessearch__selectbox {
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: 10px;
    }

    .recipessearch .recipessearch__searchbox {
        max-width: 100%;
        flex: 0 0 100%;
        padding-left: 0;
    }





}

@media(max-width:575.8px) {
    .recipessearch .recipessearch__searchbox {
        flex-wrap: wrap;
    }

    .recipessearch .bordergreenbtn,
    .recipessearch .searchblock {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .recipessearch p {
        width: 100%;
        padding: 10px 0;
    }

    .recipesslider.recipesslider__reccenter {
        padding: 40px 0;
    }

    .infosectwrap .infosect__img {
        display: none;
    }

    .infosectwrap {
        min-height: initial;
    }

    .allrecipes .pagination {
        margin-top: 15px;
    }

    .allrecipes .productsection__header {
        margin-bottom: 20px;

        p {
            margin: 0;
        }
    }

    .recipesslider.recipesslider__video .productsection__header p {
        margin-bottom: 15px;
    }

    .recipesslider.recipesslider__video .productsection__header .descr {
        font-size: 14px;
    }

}


// Recipe selected category

.recipecategoryname {
    padding: 20px 0 15px 0;
}

.reccatnamewrap {
    height: 230px;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    display: flex;

    &>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        position: absolute;
        left: 0;
        top: 0;
    }

    .reccatnamewrap__title {
        position: relative;
        z-index: 2;
        width: 100%;
        max-width: 59%;
        flex: 0 0 59%;
        display: flex;
        align-items: center;
        padding-left: 120px;

        p {
            color: $white;
            margin: 0;
            font-family: 'Poetsenone';
            font-size: 50px;
            line-height: 110%;
            letter-spacing: 1.879px;
            text-transform: uppercase;
        }
    }

    .reccatnamewrap__img {
        position: relative;
        z-index: 2;
        width: 100%;
        max-width: 41%;
        flex: 0 0 41%;
        height: 100%;


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 0 0;
        }
    }
}

.productsection__header p {
    span {
        color: $base-green;
    }
}

.recipesslider  {
    .productsection__header p {
        font-size: 30px;
    }
}

@media(max-width: 1550.8px) {
    .reccatnamewrap .reccatnamewrap__title {
        padding-left: 100px;
    }

    .allrecipes .productsection__header {
        margin-bottom: 40px;
    }
}

@media(max-width:1199.8px) {
    .recipesslider .productsection__header p {
        font-size: 25px;
    }

    .reccatnamewrap .reccatnamewrap__title {
        padding-left: 40px;
    }

}

@media(max-width:991.8px) {
    .reccatnamewrap {
        height: 160px;

        .reccatnamewrap__title p {
            font-size: 32px;
        }
    }




}

@media(max-width:767.8px) {
    .reccatnamewrap .reccatnamewrap__title p {
        font-size: 28px;
    }

}

@media(max-width:575.8px)  {
    .reccatnamewrap {
        height: 120px;
    }

    .reccatnamewrap .reccatnamewrap__title p {
        font-size: 24px;
    }

    .reccatnamewrap .reccatnamewrap__title {
        padding-left: 20px;
    }

    .recipecategoryname {
        padding-bottom: 0;
    }

    .recipesslider .productsection__header p {
        font-size: 18px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .allrecipes .productsection__header {
        margin-bottom: 20px;
    }

    .recipecategoryname {
        padding-top: 15px;
    }






}